<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{.Title}} - Stelo Finance</title>
		<meta name="description" content="{{.Description}}">
		<link rel="icon" href="{{ `/assets/favicon.png` | hash_asset_path }}">
		<style>{{ `tw-output.css` | raw_asset_string "CSS" }}</style>
		<script type="module" src="{{ `/assets/datastar-1-0-0-rc-8.js` | hash_asset_path }}"></script>
	</head>
	<body class="bg-neutral-900 font-source-code-pro pb-14">
		{{template "components/app-nav" .NavData}}
		<div class="max-w-screen-md mx-auto">
			{{block "page-content" .PageData}}
			<p>No content</p>
			{{end}}
		</div>
		{{template "components/app-menu" .MenuData}}
		{{if get_env "ENV" | eq "dev"}}
		<div data-init="@get('/hotreload', {retryInterval: 100, retryScaler: 1, retryMaxCount: 200})"></div>
		{{end}}
	</body>
</html>
