<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Stelo Finance</title>
		<meta name="description" content="A finance platform for the game BitCraft. Free for any to use or even build apps on through our API.">
		<link rel="icon" href="{{ `/assets/favicon.png` | hash_asset_path }}">
		<style>{{ `tw-output.css` | raw_asset_string "CSS" }}</style>
		<script type="module" src="{{ `/assets/datastar-1-0-0-rc-8.js` | hash_asset_path }}"></script>
	</head>
	<body class="bg-neutral-900 font-source-code-pro">
		{{template "components/nav" .NavData}}
		{{block "page-content" .PageData}}
		<p>No content</p>
		{{end}}
		{{template "components/footer" .FooterData}}
		{{if get_env "ENV" | eq "dev"}}
		<div data-init="@get('/hotreload', {retryInterval: 100, retryScaler: 1, retryMaxCount: 200})"></div>
		{{end}}
	</body>
</html>
