{{if not .PageData.OnlyRenderPage}}
{{template "layouts/app" .}}
{{end}}

{{define "page-content"}}
<main id="page-content" class="flex flex-col text-white px-2 py-4">
	<label class="">
		<span class="text-sm text-neutral-300">Selected Account</span>
		<select data-signals:acc-id="-1" data-bind:acc-id data-on:change="@get('/app/transfers')" class="bg-neutral-800 rounded w-full px-2 pt-0.5 pb-1 text-lg" name="account">
			<option value="-1" {{if eq .SelectedAccount.Id -1}}selected{{end}}>All Accounts</option>
			{{range .Accounts}}
			<option value="{{.Id}}" {{if eq $.SelectedAccount.Id .Id}}selected{{end}}>{{.Label}}</option>
			{{end}}
		</select>
	</label>
	<!-- TODO: Add in transfer section -->
	{{if ge .SelectedAccount.Id 0}}
	<h2 class="mt-4 text-lg">Send {{.SelectedAccount.LedgerName}}s <span id="bal" class="text-neutral-300 text-sm">(bal: {{.SelectedAccount.Balance}})</span></h2>
	<form class="flex flex-col"
	      id="transfer-form"
	      data-on:submit="@post('/app/accounts/{{.SelectedAccount.Id}}/transfers', {contentType: 'form'})"
	      data-indicator:sending
	      data-class="{'*:cursor-wait animate-pulse': $sending}"
	>
		<div class="flex flex-col gap-4 bg-neutral-800 rounded px-2 pt-2 pb-3">
			<div class="flex gap-2">
				{{template "components/transfer-recipient" .RecipientInput}}
				<input type="number"
				       name="qty"
				       required
				       placeholder="Qty..."
				       min="0"
				       max="{{.SelectedAccount.Balance}}"
				       class="min-w-20 w-20 border-b pl-1"
				       step="{{.SelectedAccount.Step}}"
				>
			</div>
			<input data-attr:disabled="$sending" type="text" name="memo" placeholder="Memo (optional)..." class="border-b w-full pl-1">
		</div>
		<button data-attr:disabled="$sending" class="mt-2 w-full bg-neutral-800 rounded pt-0.5 pb-1 cursor-pointer">SEND</button>
	</form>
	{{end}}

	<h2 class="mt-4 text-lg">Transfers</h2>
	{{range .Transfers}}
	<div class="flex flex-col bg-neutral-800 rounded mb-2 px-2 py-0.5">
		<div class="flex justify-between text-xs">
			{{if .Received}}
			<p class="text-anakiwa">-&gt; received</p>
			{{else}}
			<p class="text-melrose">&lt;- sent</p>
			{{end}}
			<p class="text-neutral-300">{{.DisplayTime}}</p>
		</div>

		<div class="mt-1 flex justify-between">
			<p class="">{{.From}}{{if .To}} -&gt; {{.To}}{{end}}</p>
			<p class="text-lg">{{.QtyFmtd}}<span class="text-base">{{.LedgerName}}</span></p>
		</div>

		{{if .Memo}}
		<hr class="my-0.5">
		<p class="text-sm text-neutral-300">{{.Memo}}</p>
		{{end}}
	</div>
	{{end}}
</main>
{{end}}

{{if .PageData.OnlyRenderPage}}
{{template "page-content" .PageData}}
{{end}}
