{{if not .PageData.OnlyRenderPage}}
{{template "layouts/app" .}}
{{end}}

{{define "page-content"}}
<main
  id="page-content"
  class="flex flex-col text-white px-2 py-4"
>
  <p>Deposit Requests</p>
  <div class="flex flex-col gap-2 border border-white p-1">
    {{range .DepositRequests}}
    <div class="flex flex-col border border-neutral-500">
      <div class="flex justify-between">
        <span class="text-lg">{{.Depositor}}</span>
        <button class="underline" data-on-click="@post('/app/warehouses/{{$.WalletAddr}}/deposits/{{.DepositId}}/approve')">approve</button>
      </div>
      <hr>
      <div class="grid grid-cols-2">
        {{range .Assets}}
        <p>{{.Name}} x{{.Qty}}</p>
        {{end}}
      </div>
    </div>
    {{end}}
  </div>
</main>
{{end}}

{{if .PageData.OnlyRenderPage}}
  {{template "page-content" .PageData}}
{{end}}