{{template "layouts/app" .}}

{{define "page-content"}}
<main id="page-content" class="flex flex-col items-center justify-center text-white px-2 py-4">
  <p>Collateral summary or sum'tin idk</p>
</main>
{{end}}