{{if not .PageData.OnlyRenderPage}}
{{template "layouts/app" .}}
{{end}}

{{define "page-content"}}
<main
  id="page-content"
  class="flex flex-col text-white px-2 py-4"
>
  <p class="text-lg">Deposit Requests</p>
  <div class="flex flex-col gap-2 border border-white p-1">
    {{range .DepositRequests}}
    <div class="flex flex-col border border-neutral-500">
      <div class="flex justify-between">
        <span class="text-lg">{{.Depositor}}</span>
        <button class="underline" data-on-click="@post('/app/warehouses/{{$.WalletAddr}}/deposits/{{.DepositId}}/approve')">approve</button>
      </div>
      <hr>
      <div class="grid grid-cols-2">
        {{range .Assets}}
        <p>{{.Name}} x{{.Qty}}</p>
        {{end}}
      </div>
    </div>
    {{end}}
  </div>
  <p class="mt-4 text-lg">Create Withdraw Request</p>
  <fieldset
    class="mt-1 relative"
    data-signals="{withdrawRecipient: '{{.WithdrawRecipient}}'}"
    data-on-signal-change-withdraw-recipient="@get('/app/warehouses/{{$.WalletAddr}}/deposit-withdraw')"
  >
    <legend class="text-sm text-neutral-300">Recipient</legend>
    {{if .WithdrawRecipient}}
    <label class="mt-1">
      <input
        type="hidden"
        name="recipientSelected"
        value="{{.WithdrawRecipient}}"
      >
      <span class="bg-neutral-800 p-1">{{.WithdrawRecipient}}</span>
    </label>
    <button type="button" class="underline" data-on-click="$withdrawRecipient = ''">clear</button>
    {{else}}
    <input
      data-bind="withdrawSearch"
      data-on-input__debounce.300ms="@get('/app/warehouses/{{.WalletAddr}}/deposit-withdraw')"
      type="text"
      placeholder="Search..."
      class="border-white border pl-1 py-1 w-full"
    >
    {{if len .RecipientSuggestions | lt 0}}
    <div
      class="flex flex-col w-full absolute top-full left-0 border-x border-white border-b gap-1 bg-neutral-800"
    >
      {{range .RecipientSuggestions}}
      <label>
        <input
          type="radio"
          data-bind-withdraw-recipient
          data-on-click="$withdrawSearch = ''"
          value="{{.WalletAddr}}"
          class="hidden"
        >
        <span class="w-full text-center py-1">{{.Value}}</span>
      </label>
      {{end}}
    </div>
    {{end}}
    {{end}}
  </fieldset>
  <fieldset data-signals="{assets: {}}" class="mt-4">
    <legend>Assets</legend>
    {{range $index, $el := .AssetsSelected}}
    <div class="flex gap-1">
      <select data-bind="assets.{{$index}}.id" name="ledgerId" class="border border-white bg-black">
        <option disabled selected>-Select asset-</option>
        {{range $.Assets}}
        <option value="{{.LedgerId}}">{{.Name}}</option>
        {{end}}
      </select>
      <input data-bind="assets.{{$index}}.qty" type="number" step="any" min="0" name="qty" placeholder="Quantity..." class="border border-white pl-1 w-20">
    </div>
    {{end}}
    <div class="flex gap-1">
      <select data-bind="assets.{{len .AssetsSelected}}.id" name="ledgerId" class="border border-white bg-black">
        <option disabled selected>-Select asset-</option>
        {{range .Assets}}
        <option value="{{.LedgerId}}">{{.Name}}</option>
        {{end}}
      </select>
      <input data-bind="assets.{{len .AssetsSelected}}.qty" type="number" step="any" min="0" name="qty" placeholder="Quantity..." class="border border-white pl-1 w-20">
    </div>
    <button
      data-on-click="@get('/app/warehouses/{{$.WalletAddr}}/deposit-withdraw')"
      class="bg-neutral-600 rounded pt-0.5 pb-1 px-3 mt-2"
    >Add +</button>
    <button
      id="submit-btn"
      type="submit"
      class="bg-anakiwa-900 text-xl w-full mt-4 py-2"
      data-on-click="@post('/app/warehouses/{{$.WalletAddr}}/deposit-withdraw')"
    >CREATE WITHDRAW REQUEST</button>
  </fieldset>
</main>
{{end}}

{{if .PageData.OnlyRenderPage}}
  {{template "page-content" .PageData}}
{{end}}