<nav
  aria-label="Menu"
  class="fixed bottom-0 left-0 w-full z-20 grid grid-cols-3 bg-neutral-900 border-t border-neutral-800
    px-5 py-2 text-neutral-400 text-center text-lg"
>
  <a href="/app/wallets/{{.WalletAddr}}/assets" class="{{if eq .ActivePage `assets`}}text-white{{end}}">
    assets
  </a>
  <a href="/app/wallets/{{.WalletAddr}}/transact" class="{{if eq .ActivePage `transact`}}text-white{{end}}">
    TX
  </a>
  <a href="/app/wallets/{{.WalletAddr}}/market" class="{{if eq .ActivePage `market`}}text-white{{end}}">
    market
  </a>
</nav>