<style>
	* {
		--header-offset: 55.83px;
	}
	
	/* @media (min-width: 1024px) {
		* {
			--header-offset: 77.3px;
		}
	}
	
	@media (min-width: 1536px) {
		* {
			--header-offset: 83.76px;
		}
		}*/
</style>
<nav class="sticky top-0 z-30 flex bg-neutral-900 border-b border-neutral-800 px-4 py-2  text-white" aria-label="Header navigation">
	<a href="/app" aria-label="Go to wallets" class="flex justify-center">
		{{template "icons/logo-full" `w-24 h-auto 2xl:w-32`}}
	</a>
	{{if .Username}}
	<div class="flex items-center ml-auto">
		<p class="text-sm text-gray-400">{{.Username}}</p>
	</div>
	{{end}}
</nav>
