<nav class="sticky top-0 z-30 flex items-center gap-3 bg-neutral-900 py-2 px-3  text-white lg:py-4 lg:px-10 2xl:px-20" aria-label="Main">
  <a href="/" aria-label="Go to homepage">
    {{template "icons/logo-full" `w-28 h-auto mr-auto 2xl:w-32`}}
  </a>
  <style>
    * {
    --header-offset: 61.3px;
   }

   @media (min-width: 1024px) {
    * {
     --header-offset: 77.3px;
    }
   }

   @media (min-width: 1536px) {
    * {
     --header-offset: 83.76px;
    }
   }
  </style>
</nav>